.custom-navbar {
  background-color: #439ebd;
  width: 100%;
  height: 15%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 200px;
  height: auto;
  position: absolute;
  top: 52%;
  left: 2%;
  transform: translateY(-50%);
}

.navbar-text {
  display: flex;
  gap: 4%;
  flex-grow: 1;
  justify-content: center !important;
  align-items: center !important;
}

.navbar-text .nav-link {
  font-size: 120%;
  font-weight: bold;
  color: #2c2d2d;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.navbar-text .nav-link:hover {
  color: #bbe0ea;
}

.signin-button {
  background-color: #235262;
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out;
  margin-left: -100%;
}

.signin-button:hover {
  background-color: #317187;
}
