.custom-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: white;
  max-width: 500px;
  width: 80%;
  margin: 5vh auto;
}

.custom-search-bar input {
  flex: 1;
  border: none;
  padding: 3%;
  border-radius: 50px 0 0 50px;
  font-size: 100%;
  outline: none;
  background-color: white;
  color: black;
  height: 100%;
}

.custom-search-bar button {
  background-color: #4aadce;
  border: none;
  color: white;
  padding: 2.5% 6%;
  border-radius: 0 50px 50px 0;
  font-size: 100%;
  transition: 0.3s ease;
}

.custom-search-bar button:hover {
  background-color: #4397b4;
}

.home-search-bar {
  display: flex;
  margin-right: 32%;
}
