.secret-container {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 23%;
  margin-bottom: 12%;
}

.secret-title {
  text-align: center;
  color: #333;
}

.journal-list {
  margin-top: 20px;
}

.journal-entry {
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.journal-entry h3 {
  color: #333;
  margin-bottom: 5px;
}

.journal-entry p {
  margin: 4px 0;
}

.loading-gif {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.loading-text {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}
